<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <body>
   <th th:fragment="column_link(fieldName, columnLabel, enityName)">
		  <a class="text-black" 
		  th:href="@{'/'+ ${enityName} +'/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir='  + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}" >[[${columnLabel}]]</a>
		  
		  <span th:if="${sortField == fieldName}"
		  		th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>		
		  </th>
</body>
</html>